.dropdown {
    width: 30px;
    display: block;
}

.dropdown-button {
    cursor: pointer;
}

.project-dropdown-menu {
    display: flex;
    flex-direction: column;
    width: 100px;
    background-color: #232323;
    box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.4);
    z-index: 350;
}

.project-dropdown-menu a {
    text-align: center;
    padding: 8px 4px;
    text-decoration: none;
}
    .project-dropdown-menu a:hover {
        background-color: #404040;
    }
