.project-header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.project-title {
    width: 100%;
}

.project-create-button {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-self: center;
    justify-content: flex-end;
}

.project-create-button-icon {
    align-self: center;
    padding-right: 4px;
    cursor: pointer;
}
