.project-settings-button {
    width: 30px;
    display: block;
    cursor: pointer;
}

.project-settings-menu {
    display: flex;
    flex-direction: column;
    width: 100px;
    background-color: #232323;
    box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.4);
    z-index: 350;
}

.project-settings-menu-button {
    text-align: center;
    padding: 8px 4px;
    cursor: pointer;
}
    .project-settings-menu-button:hover {
        background-color: #404040;
    }
