.project-delete-menu {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(100%, 23%);
    width: 35%;
    height: 35%;
    display: flex;
    flex-direction: column;
    background-color: #232323;
    box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.4);
    z-index: 350;
    color: #fff;
}

.project-delete-menu-title {
    width: 100%;
    height: 20%;
}

.project-delete-menu-body {
    width: 100%;
    height: 65%;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.4);
    z-index: 350;
}

.project-delete-menu-button-container {
    display: flex;
    flex-direction: row;
    height: 15%;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    cursor: pointer;
}

.project-delete-cancel-button {
    width: 70%;
    height: 100%;
    background-color: #313131;
}
    .project-delete-cancel-button:hover {
        background-color: #404040;
    }

.project-delete-delete-button {
    width: 30%;
    height: 100%;
    background-color: #a40202;
}
    .project-delete-delete-button:hover {
        background-color: #a75757;
    }