html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {

}

body {
    margin-bottom: 60px;
    background: #232323;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
}
table, tr, th {
    border: none;
}
table, tr, td {
    border: none;
}