html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    height: 100vh;
    background: #232323;
}

header {
    height: 8%;
}

footer {
    height: 4%;
}

main {
    height: 100%;
}

a {
    text-decoration: none;
}

input[type="submit"] {
    color: #fff;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    border-bottom: 1px solid;
    border-color: #404040;
}
tr, td {
    border: none;
}

.navbar {
    height: 100%;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    height: 88%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.underline {
    text-decoration: underline;
}

.underline-hover:hover {
    text-decoration: underline;
}

.link-block {
    display: block;
}

.pointer {
    cursor: pointer;
}

.table-row-hover:hover {
    background-color: #404040;
}

.table-header-hover th:hover,
.table-header-hover label:hover {
    background-color: #404040;
    cursor:pointer;
}