.tabContainer {
    height: 100%;
    width: 100%;
}

.tabContainer .buttonContainer {
    height: 8%;
}

.tabContainer .buttonContainer button {
    width: calc(100%/3);
    height: 100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    background-color: #282828;
}

.tabContainer .buttonContainer button:hover {
    background-color: #404040;
}

.tabContainer .tabPanel {
    height: 92%;
    background-color: grey;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-family: sans-serif;
    font-size: 22px;
    display: none;
}
