.tab-container {
    height: 100%;
    width: 100%;
}

.tab-container .tab-bar {
    height: 8%;
}

.tab-container .tab-bar button {
    width: calc(100%/3);
    height: 100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    background-color: #282828;
}

.tab-container .tab-bar button:hover {
    background-color: #404040;
}

.tab-container .tab-panel {
    height: 92%;
    background-color: grey;
    color: white;
    padding-top: 10px;
    display: none;
}

.backlog {
    padding-left: 2%;
    padding-right: 2%;
    font-size: 0.8rem;
}
