@model IEnumerable<Artemis_Issue_Tracker.Models.Issue>

@{
    ViewData["Title"] = "Index";
}

<div class="tabContainer">
    <div class="buttonContainer">
        <button onclick="showPanel(0, '#232323')">Roadmap</button>
        <button onclick="showPanel(1, '#232323')">Issues</button>
        <button onclick="showPanel(2, '#232323')">Overview</button>
    </div>
    <div class="tabPanel">
        <div class="roadmap-container" id="roadmap-container">
            <div class="date-container" id="date-container"></div>
            <div class="task-container" id="task-container"></div>
        </div>
    </div>
    <div class="tabPanel">Tab 2:Content</div>
    <div class="tabPanel">Tab 3:Content</div>
</div>
