@model IEnumerable<Artemis_Issue_Tracker.Models.Issue>

@{
    ViewData["Title"] = "Index";
}

<div class="tabContainer">
    <div class="buttonContainer">
        <button onclick="showPanel(0, '#232323')">Roadmap</button>
        <button onclick="showPanel(1, '#232323')">Issues</button>
        <button onclick="showPanel(2, '#232323')">Overview</button>
    </div>
    <div class="tabPanel">

        <!-- Start of Roadmap -->
        <div class="roadmap-container">
            <div class="date-container" id="date-container"></div>

            <div class="task-container">
            </div>
        </div>
        <!-- End of Roadmap -->

        <!-- Start of Calendar -->
        <!--
        <div class="wrapper">
            <header>
                <p class="current-date" id="current-date"></p>
            </header>

            <div class="button-container">
                <button type="button" class="prev-button" id="prev-button">Prev</button>
                <button type="button" class="next-button" id="next-button">Next</button>
            </div>

            <div class="calendar">
                <ul class="weeks">
                    <li>Sun</li>
                    <li>Mon</li>
                    <li>Tue</li>
                    <li>Wed</li>
                    <li>Thu</li>
                    <li>Fri</li>
                    <li>Sat</li>
                </ul>
                <ul class="days" id="days"></ul>
            </div>
        </div> 
        -->
        <!-- End of Calendar -->
    </div>
    <div class="tabPanel">Tab 2:Content</div>
    <div class="tabPanel">Tab 3:Content</div>
</div>
