@model Artemis_Issue_Tracker.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-light">Details</h1>

<div>
    <h4 class="text-light">Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <label class="text-light">Title</label>
        </dt>
        <dd class="col-sm-10  text-light">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            <label class="text-light">Description</label>
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            <label class="text-light">Summary</label>
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class = "col-sm-2">
            <label class="text-light">Creation Date</label>
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
    </dl>
</div>
<div>
    <a class="text-light" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="text-light" asp-action="Index">Back to List</a>
</div>
