@model IEnumerable<Artemis_Issue_Tracker.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-light">Projects</h1>

<p>
    <a class="text-light" asp-action="Create">Create New</a>
</p>
<table class="table text-light">
    <thead>
        <tr>
            <th>
                <label class="text-light">Name</label>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a class="text-light" asp-area="" asp-controller="Issues" asp-action="Index">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                <a class="text-light" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="text-light" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="text-light" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
